
html/**/*
latex/**/*
bin/**/*
lib/**/*


\.vs/

Debug/

Sysprog/

*.sln
*.o
*.so
*.vcxproj

*.filters

*.user

cmake-build-debug/

\.idea/

CMakeLists\.txt
src/ringbuffer/desktop.ini
